<% unless cart.line_items.empty?%>
<div class="cart-title">Your Cart</div>
<table>
  <%#= render(cart.line_items) %>
  <%= render :partial => "line_items/line_item", :collection => cart.line_items %>
  <tr class="total-line">
    <td colspan="2">Total</td>
    <td class="total-cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<div class="checkout">
<%= button_to "Checkout" , new_order_url,
    :method=>:get,
    :confirm => '你确定要结账吗?' %>
</div>
<div class="empty">
<%= button_to 'Empty cart', cart, 
    :method => :delete,
    :confirm => '你确定要清空购物车吗?' %>
</div>
<%end%>

